p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

:root {
  --body-light-color: #e5e5e5;
  --body-dark-color: #2f303a;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --common-text-color: #757575;
  --typical-padding: 94px;
  --typical-margin: 30px;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v27-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v27-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #fff;
  color: var(--common-text-color);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  text-decoration: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__first-part {
  color: var(--accent-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 88px;
}

.menu {
  display: flex;
  /* @media screen and (min-width:$desktop){
    margin-left: 93px;
} */
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .menu__item {
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-right: 50px;
  }
}

.menu__item:last-child {
  margin-right: 0;
}

.auth {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .auth {
    flex-direction: row;
    align-items: center;
  }
}

.menu,
.auth {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .menu,
  .auth {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .auth {
    display: none;
    margin-left: 315px;
  }
}

@media screen and (min-width: 768px) {
  .auth {
    display: flex;
    margin-left: 90px;
  }
}

.auth__item.auth__email {
  margin-right: 30px;
}

.menu__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.auth__link {
  text-decoration: none;
  color: var(--common-text-color);
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .auth__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.auth__link:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: var(--accent-color);
  color: var(--title-text-color);
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link.menu__link--current {
  color: var(--accent-color);
}

.auth__phone-icon,
.auth__email-icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav__button {
  width: 40px;
  height: 40px;
  background: #fff;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.nav__button:hover, .nav__button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/header-480.jpg");
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/header-480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab/header-768.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 1.9), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab/header-768@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desk/header-1600.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 1.9), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desk/header-1600@2x.jpg");
  }
}

.hero__title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--typical-margin);
  max-width: 360px;
  text-decoration: var(--accent-color);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  padding: 10px 32px;
  white-space: nowrap;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

/* .portfolio {
   // padding-top: var(--typical-padding);
   // padding-bottom: var(--typical-padding);
} */
.portfolio__menu {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.portfolio__item {
  display: inline-block;
}

.portfolio__button {
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  vertical-align: text-top;
  font-family: inherit;
  color: var(--title-text-color);
  background: #F5F4FA;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio__button {
    margin-bottom: 0;
  }
}

.portfolio__button:focus,
.portfolio__button:hover {
  background: var(--accent-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.made-projects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .made-projects-list {
    margin-bottom: 94px;
  }
}

.made-projects-list__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .made-projects-list__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .made-projects-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.made-projects-list__link {
  width: 100%;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.made-projects-list__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.made-projects-list__link:hover .made-projects-list__overlay {
  transform: translateY(0);
  opacity: 1;
}

.made-projects-list__section {
  flex-grow: 1;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #FFF;
  border-top: none;
  border: 1px solid #EEE;
}

.made-projects-list__title {
  color: var(--title-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.made-projects-list__type-item {
  color: var(--common-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-list-title,
.made-projects-list__type-item {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-title:hover,
.made-projects-list__type-item:hover {
  color: var(--accent-color);
}

.made-projects-list__image-wrapper {
  position: relative;
  overflow: hidden;
}

.made-projects-list__overlay {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.made-projects-list__text-about {
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 30px;
}

.features__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #F5F4FA;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features__about {
  color: var(--common-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do {
  display: none;
}

@media screen and (min-width: 1200px) {
  .what-we-do {
    display: contents;
    padding-bottom: var(--typical-padding);
  }
}

.what-we-do__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.what-we-do__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.what-we-do__wrapper {
  position: relative;
  margin-bottom: 94px;
}

.what-we-do__box-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  top: 0;
  left: 0;
  transform: translate(0, 224px);
  background: rgba(47, 48, 58, 0.8);
}

.what-we-do__nested-title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.team {
  background-color: #F5F4FA;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team__title {
  display: inline-block;
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-item__card {
  padding-top: var(--typical-margin);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item__unit {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-item__profession {
  margin-bottom: 16px;
  text-align: center;
  color: var(--common-text-color);
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks:last-child {
  margin-right: 0;
}

.social-networks__item {
  margin-right: 10px;
}

.social-networks__item:last-child {
  margin-right: 0;
}

.social-networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover {
  color: #fff;
  background-color: var(--accent-color);
}

.social-networks__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 180px) / 6);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--body-dark-color);
}

.container__footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container__footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer--logo {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}

.footer__address,
.footer__email,
.footer__phon {
  text-decoration: var(--accent-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list {
  margin-bottom: 60px;
}

.footer__address {
  color: #fff;
}

.footer__address:hover, .footer__address:focus {
  color: var(--accent-color);
}

.footer__email,
.footer__phon {
  color: rgba(255, 255, 255, 0.6);
}

.footer__email:hover, .footer__email:focus,
.footer__phon:hover,
.footer__phon:focus {
  color: var(--accent-color);
}

.join-us {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .join-us {
    margin-right: 93px;
  }
}

.join-us__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.join-us__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.join-us__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__link:hover {
  background-color: var(--accent-color);
}

.join-us__icon {
  fill: currentColor;
}

.mailling {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .mailling {
    text-align: start;
  }
}

.mailling__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.mailling__form {
  text-align: center;
}

.mailling__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  outline: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--body-dark-color);
}

@media screen and (min-width: 1200px) {
  .mailling__input {
    width: 358px;
    margin-right: 12px;
  }
}

.mailling__input::placeholder {
  background: var(--body-dark-color);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.mailling__button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.mailling__icon-send {
  margin-left: 10px;
}

.backdrop_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop_mobile.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_mobile {
  position: relative;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

@media screen and (min-width: 480px) {
  .modal_mobile {
    max-width: 768px;
  }
}

.modal__close-button--mb {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal__close-icon--mb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon--mb:hover {
  fill: var(--accent-color);
}

.modal__item {
  margin-bottom: 32px;
}

.modal__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}

.modal__link:hover, .modal__link:focus {
  color: var(--accent-color);
}

.modal-contacts-mb {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.modal-contacts-mb__item {
  margin-bottom: 32px;
}

.modal-contacts-mb__link {
  text-decoration: none;
}

.modal-contacts-mb__link.modal-contacts-mb__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-contacts-mb__link.modal-contacts-mb__link--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-contacts-mb__link:hover, .modal-contacts-mb__link:focus {
  color: var(--accent-color);
}

.modal__soc-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal__soc-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 315px;
  padding: 25px;
  height: 595px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-button:hover .modal__close-icon {
  fill: var(--accent-color);
}

.modal__close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal__input,
textarea {
  width: 100%;
}

.modal__input:hover, .modal__input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.modal__input {
  box-sizing: border-box;
  height: 40px;
  padding-left: 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__checkbox {
  appearance: none;
}

textarea {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  color: var(--common-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__label.checkbox {
  margin-bottom: 0;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal__label.checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.modal__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal__wrapper.txtarea {
  margin-bottom: 20px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translate(-50%, 0);
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-check {
  margin-right: 7px;
  border: 2px solid;
  border-color: #212121;
  border-radius: 2px;
  fill: #e5e5e5;
}

.modal__checkbox:checked + .modal__icon-check {
  fill: #fff;
  background-color: var(--accent-color);
  background-origin: border-box;
  border: 2px solid;
  border-color: var(--accent-color);
  border-radius: 2px;
}
/*# sourceMappingURL=main.css.map */