.backdrop_mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.backdrop_mobile.is-hidden {
    opacity: 0;
    pointer-events: none;
    @include animation(opacity);
}


.modal_mobile {
    position: relative;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 48px;
    padding-bottom: 48px;
    
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;

@media screen and (min-width:$mobile) {
   max-width:768px;
}
}


.modal__close-button--mb {
    position: absolute;
    right: 8px;
    top: 8px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
&:hover {
        color: var(--accent-color);
    }

}

.modal__close-icon--mb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: currentColor;
    @include animation(fill);
&:hover  {
    fill: var(--accent-color);
    }
}

.modal__item{
    margin-bottom: 32px;
}
    

.modal__link{
    @include font(500, 40px, 1.2, 0.03em);
    color: var(--title-text-color);
    text-decoration: none;

&:hover,
&:focus {
    color: var(--accent-color);
}
&.modal__link--current{
    color: var(--accent-color);
}
}


.modal-contacts-mb{
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}
.modal-contacts-mb__item{
    margin-bottom: 32px;

}

.modal-contacts-mb__link{
    text-decoration: none;
&.modal-contacts-mb__link--phone{
    @include font(500, 34px, 1.2, 0.03em);
    color: var(--accent-color);
}
&.modal-contacts-mb__link--email{
    @include font(500, 24px, 1.2, 0.03em);
    color: #757575;
}
&:hover,
&:focus {
    color: var(--accent-color);
}
}

.modal__soc-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal__soc-link {
    color: var(--accent-color);
    @include font(500, 18px, 1.2, 0.03em);
    text-decoration: none;
    margin-right: 10px;
}